
.main-flex{
    background-color:rgb(240, 245, 252);
    display: flex;
    justify-content:center;
    
}
.mail{
    margin-right: 10px;
    
}
.search{
    margin-right: 10px;
}

form.example input[type=text] {
    outline: none;
     border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    margin-top: 20px;
    font-size: 17px;
    margin-right: 95px;
    border: 1px solid grey;
    border-left:   white;
    float: left;
    width: 700px;
    height: 30px;
   
    background:rgb(233, 243, 255);
  }
  
  .font-mail{
    font-size: 30px;
    color: rgb(83, 80, 80);
  }
  .mail-image{
    padding-top: 30px;
    padding-right: 13px;
  }
  .search-image{
  margin-top: 20px;
  margin-left: 40px;
  padding-left: 5px;
  padding-top: 13px;
  padding-bottom: 12px;
  border: solid 1px grey;
  border-right: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: rgb(233, 243, 255);

  }
  
  .slider-image{
    position: absolute;
    margin-left: 680px;
    padding-top: 35px;
  }
  .icon-padding{
    padding-top: 30px;
  }
  .add{
    padding-left: 350px;
  }
  .setting{
    padding-left: 40px;
  }
  .account{
    padding-top: 36px;
    padding-left:40px;
  }
  .sign{
    padding-left: 40px;
  }
  .sidebar{
    text-align: center;
    height: 100vh;
    width: 250px;
    background: rgb(240, 245, 252);
  }
  